* {
    box-sizing: border-box;
}
hr.style1 {
	border-top: .5px solid #adadad;
}
li {
	font-family: macho, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #a7a7a7;
	
}
ol {
	font-family: macho, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #a7a7a7;
	text-align: left;
}
body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
	background-color: #131313;

}
h2 {
	font-family: balboa-plus-inline, sans-serif;
	font-style: bold;
	font-weight: 900;
	color: #ffffff;
}
h3 {
	font-family: balboa-plus-inline, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #ffffff;
}

p {
	font-family: macho, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #a7a7a7;
}
/*a*/
a:link {
    text-decoration: currentColor;
    color: #ffffff; 
}

a { text-decoration: none;
    color: none;  
}
a:visited { 
    text-decoration: none;
    color: rgb(61, 61, 61);
}
a:hover, a:active { 
    text-decoration: none;
    color: none;  
}
/*IDs*/
#logo {
	font-family: industry-inc-bevel-fill, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	color: #fff;
}
#lines:before { 
    border-bottom: 17px double white;
    border-top: 6px solid white;    
    content:"";
    height: 5px; 
    position: absolute; 
    right:3px;  
    top: 4px; 
    width:30px; 
}

/* Classes */
.bg-inverse {
    background-color: #131313!important;
}
.navbar-inverse .navbar-toggler {
    border-color: #ffffff;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
}
.center{
    border: 3px solid #eec8bb;
    Padding: 8px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.right{
    float: right;
}

.left{
    float: left;
}

  /*Style For Header*/


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.white {
	color: #fff;
}
.button  { 
    position: relative;         
    margin-top:2%; 
    border: 2px solid white;
    border-radius: 2px; 
    height: 36px; 
    width:36px;  
}
.btn-secondary {
    color: #292b2c;
    background-color: rgb(231, 231, 231);
    border-color: #ccc;
}

